@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Courier New", "IBM Plex Mono", ui-monospace, SFMono-Regular,
    Menlo, monospace;
  line-height: 1.4;
  font-weight: 400;
  color: #111;
  background-color: #fff;
  font-size: clamp(18px, 1.8vw, 20px);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}
